.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-area {
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid #333;
}

.btn-primary {
  width: 100%;
  margin: auto;
}
