.main-product-area {
  margin: 10rem auto 0;
  max-width: 95%;
  display: flex;
}

.close-btn-on-card {
  right: 1.3rem;
  background-color: #d1d5db;
  padding: 0.4rem 0.4rem 0.2rem;
  border-radius: 50%;
}

.close-btn-on-card > svg {
  cursor: pointer;
}

.side-pannel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 19%;
  position: fixed;
}

.form-label {
  display: block;
  cursor: pointer;
}

.products-area {
  margin-left: 18rem;
  display: grid;
  grid-template-columns: repeat(4, 0.9fr);
}

.btn-outline {
  margin-top: 1rem;
}

@media (max-width: 500px) {
  .side-pannel {
    display: none;
  }

  .main-product-area {
    margin: 1rem auto 0;
  }

  .products-area {
    margin: auto;
    grid-template-columns: repeat(2, 1.5fr);
  }
}
