.main-product-area {
  margin: 6rem auto 0;
  max-width: 95%;
  display: flex;
}

.outer {
  display: flex;
  flex-direction: column;
}

.close-btn-on-card {
  right: 1.3rem;
  background-color: #d1d5db;
  padding: 0.4rem 0.4rem 0.2rem;
  border-radius: 50%;
}

.close-btn-on-card > svg {
  cursor: pointer;
}

.side-pannel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 19%;
  position: fixed;
  margin-top: 1.5rem;
}

.mobile-filters {
  display: none;
}

.form-label {
  display: block;
  cursor: pointer;
}

.products-area {
  margin-left: 18rem;
  display: grid;
  grid-template-columns: repeat(4, 0.9fr);
}

.btn-outline {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .side-pannel {
    display: none;
  }

  .main-product-area {
    max-width: 100%;
    margin: 1rem auto 0;
  }

  .products-area {
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(max(160px, 40vw), 1fr));
  }

  .mobile-filters {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white-color);
    padding: 1rem;
  }

  .filter-container {
    display: flex;
    align-items: center;
  }

  .sort-container {
    display: flex;
    align-items: center;
  }

  .display-text {
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 0.5rem;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .side-pannel {
    display: none;
  }

  .main-product-area {
    margin: 5rem auto 0;
  }

  .products-area {
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .mobile-filters {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white-color);
    padding: 1rem;
  }

  .filter-container {
    display: flex;
    align-items: center;
  }

  .sort-container {
    display: flex;
    align-items: center;
  }

  .display-text {
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 0.5rem;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  .side-pannel {
    margin-top: 1.5rem;
    max-width: 25%;
    font-size: 0.8rem;
  }

  .main-product-area {
    margin: 5rem auto 0;
  }

  .products-area {
    margin-left: 12rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1001px) and (max-width: 1070px) {
  .side-pannel {
    margin-top: 1.5rem;
    max-width: 28%;
    font-size: 0.9rem;
  }

  .main-product-area {
    margin: 5rem auto 0;
  }

  .products-area {
    margin-left: 14rem;
    grid-template-columns: repeat(3, 0.8fr);
  }
}

@media (min-width: 1071px) and (max-width: 1200px) {
  .side-pannel {
    margin-top: 1.5rem;
    max-width: 25%;
    font-size: 0.92rem;
  }

  .main-product-area {
    margin: 5rem auto 0;
  }

  .products-area {
    margin-left: 14rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
