.btn-outline {
  margin-top: 1rem;
}

.close-btn-on-card {
  right: 1.3rem;
  background-color: #d1d5db;
  padding: 0.4rem 0.4rem 0.2rem;
  border-radius: 50%;
}

.close-btn-on-card > svg {
  cursor: pointer;
}

.wishlist-area {
  margin: 8rem auto 0;
  max-width: 95%;
}

.wishlisted-items {
  display: grid;
  grid-template-columns: repeat(4, 0.9fr);
}

.wishlist-count-value {
  font-weight: 600;
  margin-left: 1.3rem;
}
