.cart-area {
  margin: 8rem auto 0;
  max-width: 75%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.cartItems-section {
  max-width: 75%;
}

.cartItem-img {
  width: 25%;
  height: auto;
}

.cartItem {
  display: flex;
  gap: 0.8rem;
}

.action-btns {
  margin-top: 0.5rem;
}

.count-btn {
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.3rem;
}

.action-btns {
  display: flex;
  gap: 5rem;
  margin-left: 3rem;
}

.cartValue-msg {
  display: flex;
  justify-content: space-between;
}

.cart-items-qty {
  margin-left: 1rem;
  font-weight: 600;
}

.total-cart-value {
  margin-right: 1rem;
  font-weight: 600;
}

.checkout-panel {
  border: 1px solid #e5e7eb;
  margin-top: 2.1rem;
  max-width: 100%;
  padding: 0.8rem;
}

.checkout-header {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.3rem;
}

.checkout-field {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.3rem;
  font-size: 0.9rem;
}

.delete-icon {
  margin-bottom: -0.42rem;
}

.quantity-count {
  padding: 0.4rem;
}

/* .cart-btns {
  display: flex;
  align-items: center;
} */

.product-name {
  font-size: 1.1rem;
}

.product-price {
  margin: 0.2rem 0 0.4rem;
}

.stock-status {
  font-size: 0.95rem;
}

.level-info,
.delivery-status {
  margin: 0.4rem 0;
  font-size: 0.9rem;
}
