.product-detail-card {
  display: flex;
  max-width: 80%;
  margin: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.product-image {
  width: 318;
  height: 400px;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.heading-md {
  margin-bottom: 0.5rem;
}

.author-name {
  font-size: 0.9rem;
}

.product-price {
  font-size: 1.4rem;
  font-weight: 600;
}

.product-action-btn {
  margin-right: 2rem;
}

@media (max-width: 500px) {
  .product-detail-card {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: auto;
  }

  .product-image {
    max-width: 95%;
    max-height: 300px;
    margin: 0 auto;
  }

  .product-name {
    font-size: 0.9rem;
  }

  .product-price {
    font-size: 0.9rem;
    font-weight: 600;
  }
}
