.navbar {
  padding: 0.5rem 2.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-element {
  text-decoration: none;
  cursor: pointer;
}

.nav-item {
  cursor: pointer;
  margin: 0 0.2rem;
}

.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-title {
  font-size: 0.85rem;
  font-weight: 600;
}

.search-bar {
  padding: 0.7rem;
  font-size: 0.85rem;
  width: 30rem;
  border: none;
}

.search-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1.1px solid #e5e7eb;
  border-radius: 0.5rem;
  outline: none;
}

.search-icon {
  margin: 0.5rem;
}

.nav-list {
  gap: 1.5rem;
}

.ic-bdg-cart-top {
  bottom: 1.2rem;
  left: 0.9rem;
}

.mobile-search {
  display: none;
}

@media (max-width: 376px) {
  .navbar {
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem;
    max-width: 95%;
  }

  .brand-logo {
    width: 130px;
    height: 40px;
    margin-left: 0.8rem;
  }

  .search-field {
    display: none;
  }

  .mobile-search {
    display: block;
  }

  .nav-list {
    gap: 0.2rem;
  }
}

@media (min-width: 377px) and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem;
    max-width: 95%;
  }

  .brand-logo {
    width: 150px;
    height: 50px;
    margin-left: 0.8rem;
  }

  .search-field {
    display: none;
  }

  .mobile-search {
    display: block;
  }

  .nav-list {
    gap: 0.6rem;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem;
    max-width: 95%;
  }

  .brand-logo {
    margin-left: 0.8rem;
  }

  .search-bar {
    width: 15rem;
  }

  .nav-list {
    gap: 1rem;
  }
}
