.navbar {
  padding: 0.3rem 2.5rem;
}

.logoNav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-left: 3rem;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-element {
  text-decoration: none;
  cursor: pointer;
}

.nav-item {
  cursor: pointer;
  margin: 0 0.2rem;
}

.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-action-container {
  display: flex;
  flex-direction: row;
}

.user-title {
  font-size: 0.85rem;
  font-weight: 600;
}

.search-bar {
  padding: 0.7rem;
  font-size: 0.85rem;
  width: 30rem;
  border: none;
}

.search-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1.1px solid #e5e7eb;
  border-radius: 0.5rem;
  outline: none;
}

.search-icon {
  margin: 0.5rem;
}

.nav-list {
  gap: 1.5rem;
  align-items: center;
}

.ic-badge-heart-top {
  position: absolute;
  bottom: 1.2rem;
  left: 0.9rem;
}

.ic-badge-cart-top {
  position: absolute;
  bottom: 1.2rem;
  left: 0.9rem;
}

.mobile-search {
  display: none;
}

.mobile-navbar {
  display: none;
}

@media (max-width: 600px) {
  .brand-logo {
    width: 130px;
    height: 40px;
  }

  .nav-links {
    display: none;
  }

  .search-bar {
    width: 100%;
  }

  .navbar {
    display: none;
  }

  .user-title {
    font-size: 0.7rem;
  }

  .mobile-navbar {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.8rem;
    max-width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--gray-color);
  }

  .search-field {
    max-width: 100%;
  }

  .user-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-bottom: 0.5rem;
  }

  .nav-list {
    gap: 0.6rem;
    margin: 0.5rem 0 0.3rem;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.8rem;
    max-width: 100%;
  }

  .user-title {
    font-size: 0.7rem;
  }

  .brand-logo {
    width: 140px;
    height: 50px;
    margin-left: 0.5rem;
  }

  .nav-links {
    display: none;
  }

  .search-field {
    width: 40%;
  }

  .search-bar {
    width: 100%;
  }

  .nav-list {
    gap: 0.8rem;
    margin-right: 0.5rem;
  }
}
