.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-area {
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid #333;
}

.action-btn {
  margin-left: 4.5rem;
}

.btn-primary {
  max-width: 100%;
}
